#map_viz {margin:2%; width: 90%; height: 80%;}
#github-ribbon {position: absolute; top: 0; right: 0; border: 0;}

#status {background-color:#222 ; font-size:1.2em; font-weight:bold; padding:10px;
	 -moz-border-radius:7px;
	 -webkit-border-radius:7px;}
#status.normal {color:#45E645;}
#status.error {color:#FF1919;}
