#map_viz {margin:2%; width: 90%; height: 80%;  }
#github-ribbon {position: absolute; top: 0; right: 0; border: 0;}

#status {background-color:LightGrey ; font-size:1.2em; font-weight:bold}
#status.normal {color:SlateBlue;}
#status.error {color:Red;}
